<template>
    <div class="features">
    <div class="feature">
        <svg class="feature_icon" >
            <use xlink:href="../../src/img/sprite.svg#icon-global"></use>
        </svg>
        <h4 class="heading-4">
            World best luxuries home
        </h4>
        <p class="feature_text"> asldkjasdklasdkjkl aldkjlasdkjlaskjdk alsdkjkljlasdkjlasdkjlask aldksjk</p>
    </div>
    <div class="feature">
        <svg class="feature_icon" >
            <use xlink:href="../../src/img/sprite.svg#icon-trophy"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">
            Only  the best properties
        </h4>
        <p class="feature_text"> asldkjasdklasdkjkl aldkjlasdkjlaskjdk alsdkjkljlasdkjlasdkjlask aldksjk askdjhaksdjhkasjdh aksdjhkasdjhkasj</p>
    </div>
    <div class="feature">
        <svg class="feature_icon" >
            <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">
            All home in top locations
        </h4>
        <p class="feature_text"> asldkjasdklasdkjkl aldkjlasdkjlaskjdk alsdkjkljlasdkjlasdkjlask aldksjk</p>
    </div>
    <div class="feature">
        <svg class="feature_icon" >
            <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">
            New home in one week
        </h4>
        <p class="feature_text"> asldkjasdklasdkjkl aldkjlasdkjlaskjdk alsdkjkljlasdkjlasdkjlask aldksjk</p>
    </div>
    <div class="feature">
        <svg class="feature_icon" >
            <use xlink:href="../../src/img/sprite.svg#icon-presentation"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">
            One percent
        </h4>
        <p class="feature_text"> asldkjasdklasdkjkl aldkjlasdkjlaskjdk alsdkjkljlasdkjlasdkjlask aldksjk</p>
    </div>
    <div class="feature">
        <svg class="feature_icon" >
            <use xlink:href="../../src/img/sprite.svg#icon-lock"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">
            Secure payment on nexter
        </h4>
        <p class="feature_text"> asldkjasdklasdkjkl aldkjlasdkjlaskjdk alsdkjkljlasdkjlasdkjlask aldksjk</p>
    </div>
    </div>
</template>
<style>

</style>