<template>
    <div class="homes">
        <div class="home">
            <img src="../../src/img/house-1.jpeg" alt="House 1" class="home_img">
            <svg class="home_like" >
                <use xlink:href="../../src/img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home_name">Beatiful family House</h5>
            <div class="home_location">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home_rooms">
                <svg  >
                    <use xlink:href="../../src/img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>rooms</p>
            </div>
            <div class="home_area">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home_price">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200.000</p>
            </div>
            <button class="btn home_btn">Contact reator</button>
        </div>
        <div class="home">
            <img src="../../src/img/house-2.jpeg" alt="House 1" class="home_img">
            <svg class="home_like" >
                <use xlink:href="../../src/img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home_name">Modern Glass Villa </h5>
            <div class="home_location">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home_rooms">
                <svg  >
                    <use xlink:href="../../src/img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>rooms</p>
            </div>
            <div class="home_area">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home_price">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200.000</p>
            </div>
            <button class="btn home_btn">Contact reator</button>
        </div>
        <div class="home">
            <img src="../../src/img/house-3.jpeg" alt="House 1" class="home_img">
            <svg class="home_like" >
                <use xlink:href="../../src/img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home_name">Beatiful family House</h5>
            <div class="home_location">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home_rooms">
                <svg  >
                    <use xlink:href="../../src/img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>rooms</p>
            </div>
            <div class="home_area">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home_price">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200.000</p>
            </div>
            <button class="btn home_btn">Contact reator</button>
        </div>
        <div class="home">
            <img src="../../src/img/house-4.jpeg" alt="House 1" class="home_img">
            <svg class="home_like" >
                <use xlink:href="../../src/img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home_name">Beatiful family House</h5>
            <div class="home_location">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home_rooms">
                <svg  >
                    <use xlink:href="../../src/img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>rooms</p>
            </div>
            <div class="home_area">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home_price">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200.000</p>
            </div>
            <button class="btn home_btn">Contact reator</button>
        </div>
        <div class="home">
            <img src="../../src/img/house-5.jpeg" alt="House 1" class="home_img">
            <svg class="home_like" >
                <use xlink:href="../../src/img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home_name">Beatiful family House</h5>
            <div class="home_location">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home_rooms">
                <svg  >
                    <use xlink:href="../../src/img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>rooms</p>
            </div>
            <div class="home_area">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home_price">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200.000</p>
            </div>
            <button class="btn home_btn">Contact reator</button>
        </div>
        <div class="home">
            <img src="../../src/img/house-6.jpeg" alt="House 1" class="home_img">
            <svg class="home_like" >
                <use xlink:href="../../src/img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home_name">Beatiful family House</h5>
            <div class="home_location">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home_rooms">
                <svg  >
                    <use xlink:href="../../src/img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>rooms</p>
            </div>
            <div class="home_area">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home_price">
                <svg >
                    <use xlink:href="../../src/img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200.000</p>
            </div>
            <button class="btn home_btn">Contact reator</button>
        </div>
    </div>
</template>