<template>
    <div class="story_picture">
        <img src="../../src/img/story-1.jpeg" alt="COupple with new house" class="story_img--1">
        <img src="../../src/img/story-2.jpeg" alt="COupple with new house" class="story_img--2">
    </div>
</template>