<template>
    <div class="story_content">
        <h3 class="heading-3 mb-sm"> Happy Costumer</h3>
        <h2 class="heading-2  heading-2--dark mb-md" >&ldquo;The best decicison of our life&rdquo;</h2>
        <p class="story_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum volupta!</p>
        <btn class="btn">Find you own home</btn>
    </div>
</template>