<template>
  <div class="container" >
      <div class="sidebar">
          sidebar
      </div>
      <div class="header">header</div>
      <div class="realtors">realtor</div>
      <feature ></feature>
      <story_picture></story_picture>

      <story_content></story_content>
      <home></home>
      <div class="gallery">galery</div>
      <div class="footer">footer</div>
  </div>
</template>
<script>
    import feature from '../src/components/Feauture.vue'
    import story_content from '../src/components/StoryContent.vue'
    import story_picture from '../src/components/StoryPicture.vue'
    import home from '../src/components/Homes'
    export default {
        components: {
            feature,
            story_content,
            story_picture,
            home
        }
    }
</script>

<style lang="scss">
  .container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end]) [center-end]  minmax(6rem,1fr) [full-end];
  }
  body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  
    @media only screen and (max-width: $bp-largest) {
      font-size: 50%;
    }
  }
</style>
