.story {
  &_picture {
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-rows: repeat(6, 1fr) ;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;


  }
  &_img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(#000,0.1) ;

  }
  &_img--2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(#000,0.2) ;
  }
  &_content {
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    display: grid;
    align-content: center;
    justify-items: start;

  }
  &_text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
